@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 13.10.2015

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Myriad Pro Light";
    src: url("../fonts/MyriadPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Myriad Pro Bold";
    src: url("../fonts/MyriadPro-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    min-width: 976px;
    font: 14px 'Myriad Pro Light', serif;
    overflow: hidden;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 106px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 71px;
    background: rgba(255,255,255,.7);
    z-index: 3;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 105px;
    background: url("../img/footer-bg.jpg");
}
.site__footer-layout {
    width: 976px;
    margin: 0 auto;
    position: relative;
    height: 105px;
}
.site__footer__logo{
    position: absolute;
    top: 24px;
    left: 0;
}

.copy{
    position: absolute;
    top: 29px;
    left: 89px;
    border-left: 1px dotted #aeaeae;
    padding-left: 24px;
    width: 170px;
    color: #afafaf;
    font-size: 13px;
}
.copy p{
    color: #ffa614;
}
.copy span{
    white-space: pre-line;
}
.site__footer__address{
    position: absolute;
    top: 32px;
    right: 0;
    font-style: normal;
    text-align: right;
}
.site__footer__address__tel{
    color: #afafaf;
    font-size: 24px;
    text-decoration: none;
}
.site__footer__address__tel span{
    display: inline;
    position: relative;
    padding-right: 10px;
}
.site__footer__address__tel span:after{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffa713;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
}
.site__footer__address dl dd,
.site__footer__address dl dt{
    display: inline-block;
    color: #ffa614;
    font-size: 14px;
}
.site__footer__address dl a{
    color: #b0b0b0;
}
.site__footer__address dl a:hover{
    text-decoration: underline;
}



/* --------------- /site --------------- */

/* --------------- socila-links --------------- */
.socila-links{
    position: absolute;
    top: 41px;
    left: 410px;
}
.socila-links li{
    display: inline-block;
    vertical-align: top;
}
.socila-links li a{
    background: url("../img/footer-social.png") no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}

.socila-links__vk{
    background-position: 0 0;
}
.socila-links__od{
    background-position: -32px 0 !important;
}
.socila-links__fb{
    background-position: -65px 0 !important;
}
.socila-links__tt{
    background-position: -98px 0 !important;
}
.socila-links__email{
    background-position: -131px 0 !important;
}
/* --------------- /socila-links --------------- */

/* --------------- rate-of-site --------------- */
.rate-of-site{
    position: absolute;
    top: 39px;
    right: 200px;
    background: url("../img/rate.png");
    width: 31px;
    height: 31px;
}
/* --------------- /rate-of-site --------------- */



/* -------- site__header-layout ------- */
.site__header-layout{
    position: relative;
    width: 976px;
    margin: 0 auto;
    text-align: center;
}
.contacts-info{
    position: absolute;
    top: 8px;
    right: 0;
}
.phone__contacts-info{
    font-size: 24px;
    letter-spacing: -1px;
    color: #000;
}
.phone__contacts-info span{
    color: #ffa713;
}
.contacts-info__graph{
    font-size: 12px;
    color: #808080;
}
/* ------- /site__header-layout ------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 6px;
    left: 0;
}
.logo .name{
    display: inline-block;
    width: 181px;
    height: 47px;
    margin-left: 16px;
    margin-top: 6px;
    padding-left: 22px;
    border-left: 1px solid #706f70;
    font-size: 12px;
    line-height: 11px;
    vertical-align: top;
    text-align: left;
}
.logo .name strong{
    font: 15px 'Myriad Pro Bold', serif;
}
/* --------------- /logo --------------- */

/* ----------- header__menu ------------ */
.header__menu{
    position: absolute;
    top: 20px;
    left: 304px;
}
.header__menu a{
    display: inline-block;
    height: 30px;
    margin-right: 10px;
    padding: 4px 16px 0;
    font-size: 16px;
    color: #767676;
}
.header__menu span{
    border-bottom: 2px dotted #767676;
}
.header__menu .active{
    padding: 4px 26px 0;
    border-radius: 20px;
    background-color: #ffa714;
    color: #000;
}
/* ----------- /header__menu ----------- */