@charset "utf-8";

/*
    portfolio styles
    version: 13.10.2015

    portfolio

    mobile-sites

    clients
*/

/* --------------- portfolio --------------- */
.portfolio{
    width: 976px;
    margin: 0 auto;
    padding-top: 109px;
    height: 957px;
}
.portfolio__menu{
    font-size: 16px;
}
.news__tab{
    display: inline-block;
    padding-right: 15px;
    background: url('../img/ico-menu.jpg') no-repeat 100% 50%;
}
.news__tab li{
    display: inline-block;
    height: 32px;
    margin-right: 7px;
    padding: 5px 13px 0;
    border: 1px solid transparent;
    border-radius: 15px;
}
.news__tab .active{
    padding: 5px 31px 0;
    border-color: #f89c02;
}
.tab__item{
    display: inline-block;
}
.tab__item a{
    color: #706f6f;
}
/* -------------- /portfolio --------------- */

/* ------------ mobile-sites --------------- */
.mobile-sites{
    height: 527px;
    background-color: #efefef;
}
.mobile-sites > div{
    height: inherit;
    width: 1090px;
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 721px;
    line-height: 18px;
    background: url("../img/mobile-sites.jpg") no-repeat 0 80px;
}
.mobile-sites h2{
    margin-bottom: 17px;
    font: normal 32px/38px 'Myriad Pro Light', serif;
}
.mobile-sites > div p{
    margin-bottom: 50px;
}
/* ------------ /mobile-sites -------------- */

/* --------------- clients ----------------- */
.clients{
    width: 976px;
    margin: 0 auto;
    padding-top: 186px;
    text-align: center;
    background: url("../img/bg-clients.jpg") no-repeat 59% 32px;
}
.clients h2{
    margin-bottom: 17px;
    font: normal 32px/38px 'Myriad Pro Light', serif;
}
.clients__about{
    position: relative;
    widows: 610px;
    margin: 0 auto 108px;
    line-height: 18px;
}
.clients__about:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -63px;
    width: 80px;
    height: 8px;
    margin-left: -40px;
    background: url("../img/img-decoration.jpg") repeat-x 0 0;
}
.clients ul li{
    display: inline-block;
    margin-bottom: 22px;
}
.clients ul li div{
    display: table-cell;
    height: 86px;
    width: 220px;
    vertical-align: middle;
    overflow: hidden;
}
.clients ul li img{
    max-width: 206px;
}
/* --------------- /clients ---------------- */